* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(51,51,51);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Header(start)*/
.header{
    display: flex;
    height: 52px;
    width: 640px;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    color: white;
}
.header h3 {
    font-size: 30px;
    font-weight: 400;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 31%;
    justify-content: space-between;
}
.nav-links a {
    display: flex;
    line-height: 32px;
    color: rgba(255,255,255,0.294);
    text-decoration: none;
    font-weight: 500;
}
.nav-links .home {
    color: white;
}
.home {
    border-bottom: solid 4px white;
    transition: .1s;
}
.home:hover {
    border-bottom: solid 4px rgba(255, 255, 255, 0.294);
}
.nav-links a:hover {
    border-bottom: solid 4px rgba(255,255,255,0.294);
}
/*Header(end)*/

/*Menu content(start)*/
.menu-content {
    width: 640px;
    height: 234px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.menu-content h3 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}
.menu-content p {
    text-align: center;
    font-size: 19px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 5px;
}
.menu-content button {
    height: 54px;
    width: 147px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    font-weight: 600;
    transition: .2s;
}
.menu-content button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.596);
}
.menu-content button:focus {
    outline: none;
    border: solid 0.5px rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
/*Menu content(end)*/

/*Footer(start)*/
.footer {
    height: 40px;
    width: 640px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    letter-spacing: .5px;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
/*Footer(end)*/